*{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    
}
*a{
    text-decoration:none;
}

#nav1{
    background-color: black;
    color:aliceblue;
    padding-top:10px;
}
#ss{
    text-align:right;
}


#ss1{
text-align:center;
}
a{
    color:white;
}
#border{
    border-right :1px solid white;
    text-align:center;
}
#envlpe{
    color:blue;
}
#call{
    color:blue;
}
#button1{
    background-color: blue;
    color:white;
   height:35px;
    
}
#button2{
    background-color: blue;
    color:white;
    height:35px;
    width:140px;
}
@media(min-width:0px) and (max-width:800px) {
    #item {
      display: none;
    }
  }

  @media(min-width:800px) and (max-width:2000px) {
    #nitem {
      display: none;
    }
  }

  #qntm{
    height:50px;
  }




#qc{
    color:blue;
    font-weight: 70px;

}
#wc{
    color:rgb(99, 92, 92);
    font-weight: 70px;
}

#qntm2 a{
    color:black;
    text-decoration:none;
    font-size:16px;
}
#qntm2{
    padding-top:20px;
}
#nav2 button{
    border:none;
    background-color: transparent;
}
#ddwn{
    color:blue;
    
}
#nav2 #dropdnmenu1 a{
    color:blue;
    line-height:30px;
  
}
#nav2 #dropdnmenu1 li a:hover{
    color:black;
    background-color: blue;
}
#nav2 #dropdnmenu2 li a{
    color:blue;
}
#nav2 #dropdnmenu2{
    line-height:40px;
    width:540px;
}
#img32{
    height:20px;
    width:20px;
    margin-top:10px;
}
#nav2 #dropdnmenu2 li a{
    display:flex;
    
}
#nav2 #dropdnmenu2 li a:hover{
    color:black;
    background-color: blue;
}
#nav2 #dropdnmenu3 li a:hover{
    color:black;
    background-color: blue;
}
#nav2 #dropdnmenu3 li a{
    color:blue;
}
#nav2 #dropdnmenu3 li a{
    height:50px;
   
}



#carslimg{
    width:100%;
}
#hr1{
    width: 40px;
    border:2px solid #116fce;
  
}
#dlf{
    width:100%;
    height:100%;
}
#p1{
    font-size:18.5px;
    color:grey;
}
#p1:hover{
    color:black;
}
#p2{
    font-size:18.5px;
    color:grey;
}
#p2:hover{
    color:black;
}
#knm{
    height:40px;
    background: linear-gradient(to bottom,#0099FF,#003366);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
}
#aq{
    margin-top:70px;
    background: linear-gradient(to bottom,#0099FF,#003366);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#os{
    margin-top:40px;
    background: linear-gradient(to bottom,#0099FF,#003366);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#img1{
    height:250px;
    width:100%;
    border-top:none;
    border-bottom:none;
}
#caph1{
    color:rgb(21, 70, 177);
    text-align:center;
}
#oc{
    margin-top:40px;
    background: linear-gradient(to bottom,#0099FF,#003366);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#testimonial{
   font-family:Georgia, 'Times New Roman', Times, serif;
   background: linear-gradient(to bottom,#0099FF,#003366);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size:35px;

}
#carousel2{
    border:2px dotted blue;
}
#tmdiv1{
    height:350px;
    width:1000px;
    background-color: bisque;
}

#myCarousel4 {
    height: 450px;
    width: 100%;
    margin-bottom:50px;
}

#div12 {
    background-color: bisque;
    height: 450px;
    width: 100%;
}

h4 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#div321 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
}

#img321 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#cap2{
    color:red;
}
#hr321{
    border:2px solid blue;
    width:70px;
}



#footer {
    background-color: black;
    height: 2000px;
    width: 100%;
}

#footerhead {
    color: aliceblue;
}

#footeryoutube2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(225, 13, 9);
}

#footeryoutube1 {

    color: rgb(212, 24, 7);
    font-size: 15px;
    border: 1px solid rgb(228, 8, 8);
    height: 27px;
    width: 27px;
    padding-top: 4px;
    padding-left: 3px;
}

#footertwitter1 {
    color: blue;
    font-size: 15px;
    border: 1px solid rgb(50, 10, 229);
    height: 27px;
    width: 27px;
    padding-top: 5px;
    padding-left: 4px;
    margin-right: 12px;


}

#footertwitter2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(16, 106, 184);
}

#footerlinkedin1 {

    color: blue;
    font-size: 15px;
    border: 1px solid rgb(60, 7, 235);
    height: 27px;
    width: 27px;
    padding-top: 5px;
    padding-left: 5px;

}

#footerlinkedin2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(40, 7, 228);

}

#footerinsta1 {

    color: rgb(207, 25, 182);
    font-size: 15px;
    border: 1px solid rgb(229, 8, 207);
    height: 27px;
    width: 27px;
    padding-top: 5px;
    padding-left: 5px;

}

#footerinsta2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(236, 12, 217);

}

#footerfb1 {

    color: blue;
    border: 1px solid rgb(34, 9, 223);
    font-size: 15px;
    height: 27px;
    width: 27px;
    padding-top: 4px;
    padding-left: 6px;

}

#footerfb2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(24, 13, 243);

}

#footerql {
    list-style-type: none;
    color: rgb(83, 83, 91);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}


#footerindus {

    list-style-type: none;
    color: rgb(83, 83, 91);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

#footermap {

    color: rgb(237, 30, 15);
    border: 1px solid rgb(34, 9, 223);
    font-size: 15px;
    height: 27px;
    width: 27px;
    padding-top: 6px;
    padding-left: 5px;
}

#footermap2 {

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(83, 83, 91);
}

#footerphone1 {

    color: rgb(30, 11, 235);
    border: 1px solid rgb(34, 9, 223);
    font-size: 15px;
    height: 27px;
    width: 27px;
    padding-top: 5px;
    padding-left: 6px;
}

#footerphone2 {

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(83, 83, 91);
}

#footerenvelope1 {

    color: rgb(211, 8, 184);
    border: 1px solid rgb(34, 9, 223);
    font-size: 15px;
    height: 27px;
    width: 27px;
    padding-top:8px;
    padding-left: 6px;

}

#footerenvelope2 {

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    color: rgb(83, 83, 91);

}

button {
    height: 40px;
    text-align: center;
    background-color: rgb(152, 145, 145);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;

}

#buttons321 {
    margin-bottom: 70px;
}

#btnfoot {
    color: rgb(47, 46, 46)
}

#footerhr {
    border: 1px solid grey;
    width: 1000px;

}

#subfooter {}

#subfooterpargh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align:center;
}



